
<div class="container">
	<div class="page-title">
		<h2>What's Hot?</h2>
	</div>
	<div class="row blog-page-spacer">
		<div class="col-12 col-lg-8">
			<div class="row blog-wrapper">
				<div class="col-12 col-md-6 blog-post">
					<div class="shadow">
						<div class="blog-featured-image">
							<img src="../assets/img/ignite-lsfa.png" alt="Lagos State Football Association Endorsement"/>
						</div>
						<div class="blog-content">
							<h5>Lagos State Football Association Endorses Ignite MegaStars</h5>
							<p class="text-muted">Sports / May, 2021</p>
							<p>The Ignite Megastars football talent hunt reality TV show- “Ignite Soccer Stars”, has been endorsed by the Lagos state Football Association (LSFA).</p>
							<p><a href="/blog/lagos-state-football-association-endorses-ignite-megastars">Continue Reading...</a></p>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 blog-post">
					<div class="shadow">
						<div class="blog-featured-image">
							<img src="../assets/img/radiance-fc-featured.jpg" alt="Ignite team visitation to Radiance Football Club"/>
						</div>
						<div class="blog-content">
							<h5>Ignite team visits Radiance football club</h5>
							<p class="text-muted">Sports / June, 2021</p>
							<p>The team of Ignite mega stars on the 5th of June, 2021, visited grassroots soccer team, Radiance football club at Sura, Lagos Island.</p>
							<p><a href="../assets/blog/ignite-team-visits-radiance-football-club">Continue Reading...</a></p>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 blog-post">
					<div class="shadow">
						<div class="blog-featured-image">
							<img src="../assets/img/sanwo-olu.jpg" alt="Governor Sanwo Olu"/>
						</div>
						<div class="blog-content">
							<h5>Lagos state Governor Visits Venia Business Hub</h5>
							<p class="text-muted">Sports / June, 2021</p>
							<p>The Lagos state Governor, Mr.Babajide Sanwolu, visited Venia Business Hub, the home of C&CD consulting limited; promoters of Ignite Megastars.</p>
							<p><a href="/blog/lagos-state-governor-visits-venia-business-hub">Continue Reading...</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 d-none d-lg-block blog-page-spacer">
			<div class="shadow blog-sidebar">
				<h5>Recent Posts</h5>
				<p><a href="/blog/lagos-state-football-association-endorses-ignite-megastars">Lagos State Football Association Endorses Ignite Megastars</a></p>
				<p><a href="/blog/ignite-team-visits-radiance-football-club">Ignite Megastars team visits Radiance football club</a></p>
				<p><a href="/blog/lagos-state-governor-visits-venia-business-hub">Lagos state Governor Visits Venia Business Hub</a></p>

				<h5>Categories</h5>
				<span><a href="#">Sports</a></span>
			</div>
		</div>
	</div>
</div>
