<!-- <div class="display-4 py-4 px-1 text-center bg-primary text-white">Angular4 Paystack</div>
<div class="text-center lead">{{ title }}</div>
<div class="container">
  <div class="paystack-buttons text-center d-md-flex d-lg-flex d-xl-flex justify-content-between">
    <angular4-paystack
      [class]="'btn btn-primary m-3'"
      [email]="'mailexample@mail.com'"
      (paymentInit)="paymentInit()"
      [amount]="5000000"
      [ref]="tRef"
      (onClose)="paymentCancel()"
      (callback)="paymentDone($event)"
      [class]="'btn btn-primary'"
    >
      Pay With Paystack component
    </angular4-paystack>

  </div>
</div> -->
