<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="../assets/img/radiance-fc-featured.jpg" alt="Ignite team visitation to Radiance Football Club"/>
			<h5 class="blog-title">Ignite team visits Radiance football club</h5>
			<p class="text-muted">Sportsy / June, 2021</p>
			<p>The Ignite Megastars team on the 5th of June, 2021, visited grassroots soccer team; Radiance football club at Sura, Lagos Island. This young team, consisting largely of young boys between the ages of 13-19, defy the odds is pursuing their passion for the game of football. The Ignite team provided bibs and a standard soccer ball to support these upcoming talents, who currently have their training under the bridge. </p>
			<p>This effort by the Ignite Megastars team, is in line with future projects which will enable young boys and girls, such as these, have the platform to play under better sporting conditions, while giving them the springboards into stardom via visible expression of their talents.</p>

			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
				<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5>Recent Posts</h5>
        <p><a routerLink="/blog/post/lagos-endorse">Lagos State Football Association Endorses Ignite Megastars</a></p>
				<p><a routerLink="/blog/post/ignite-team">Ignite Megastars team visits Radiance football club</a></p>
				<p><a routerLink="/blog/post/govornor-visits">Lagos state Governor Visits Venia Business Hub</a></p>
        <p><a routerLink="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a href="#">Sports</a></span>
			</div>
		</div>
	</div>


</div>
