<nav class="ignite-soccer-stars-nav-wrapper">
  <div class="container">
    <ul class="ignite-soccer-stars-nav text-white">
      <li><a routerLink="/competition/male" class="text-white  touch">About</a></li>
      <li><a routerLink="/competition/male/register"
          class="text-white touch ignite-soccer-stars-nav-active">Register</a></li>
      <li><a routerLink="/competition/male/fixtures" class="text-white touch">Fixtures/Results</a></li>
      <li><a routerLink="/competition/male/highlights" class="text-white touch">Highlights</a></li>
      <li><a routerLink="/competition/male/players" class="text-white touch">Players Profile</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="pt-5 pb-4">
    <h1 class="fw-bold">Register!</h1>
  </div>

  <div id="c2">
    <div>
      <form id="form-app" enctype="multipart/form-data" role="form" autocomplete="on" novalidate="novalidate">
        <fieldset class="row g-2">

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Name &amp; Contact Information of Participant</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_2">Surname</label>
              <input type="text" id="text_2" name="text_2" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_3">First Name</label>
              <input type="text" id="text_3" name="text_3" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="text_1">Other Names</label>
              <input type="text" id="text_1" name="text_1" class="form-control">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_5">State of Origin</label>
              <input type="text" id="text_5" name="text_5" class="form-control" required="">
            </div>
          </div>

          <!-- Date -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="date_1">Date of Birth</label>
              <input type="date" id="date_1" name="date_1" class="form-control" required="">
            </div>
          </div>

          <!-- Number -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="number_1">Age</label>
              <input type="number" id="number_1" name="number_1" class="form-control" readonly="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Residential Information</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="text_7">Home Address</label>
              <input type="text" id="text_7" name="text_7" class="form-control" required="">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_9">State</label>
              <select id="selectlist_9" name="selectlist_9[]" data-alias="" class="form-control form-select"
                required="">
                <option value="Lagos" selected="">Lagos</option>
              </select>
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_2">Local Govt Area</label>
              <select id="selectlist_2" name="selectlist_2[]" data-alias="" class="form-control form-select"
                required="">
                <option value="Alimosho" selected="">Alimosho</option>
                <option value="Ajeromi-Ifelodun">Ajeromi-Ifelodun</option>
                <option value="Kosofe">Kosofe</option>
                <option value="Mushin">Mushin</option>
                <option value="Oshodi-Isolo">Oshodi-Isolo</option>
                <option value="Ojo">Ojo</option>
                <option value="Ikorodu">Ikorodu</option>
                <option value="Surulere">Surulere</option>
                <option value="Agege">Agege</option>
                <option value="Ifako-Ijaiye">Ifako-Ijaiye</option>
                <option value="Somolu">Somolu</option>
                <option value="Amuwo-Odofin">Amuwo-Odofin</option>
                <option value="Lagos Mainland">Lagos Mainland</option>
                <option value="Ikeja">Ikeja</option>
                <option value="Eti-Osa">Eti-Osa</option>
                <option value="Badagry">Badagry</option>
                <option value="Apapa">Apapa</option>
                <option value="Lagos Island">Lagos Island</option>
                <option value="Epe">Epe</option>
                <option value="Ibeju-Lekki">Ibeju-Lekki</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_8">City/Town</label>
              <input type="text" id="text_8" name="text_8" class="form-control form-select" required="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Educational Information</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_594098">Name of primary school attended</label>
              <input type="text" id="text_594098" name="text_594098" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_137607">Primary school certificate number</label>
              <input type="text" id="text_137607" name="text_137607" class="form-control" required=""
                data-unique="true">
            </div>
          </div>

          <!-- File -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="file_5">Upload proof of primary school attendance (Certificate,
                testimonial, affidavit, etc)</label>
              <input type="file" id="file_5" name="file_5[]" data-alias="" accept=".gif, .jpg, .png, .pdf, .jpeg"
                data-max-size="3200000">
            </div>
          </div>


          <!-- Text -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="text_383771">Address of primary school</label>
              <input type="text" id="text_383771" name="text_383771" class="form-control" required="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Activities &amp; Interest</h4>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_1">Sport of Interest</label>
              <select id="selectlist_1" name="selectlist_1[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Football" selected="">Football</option>
              </select>
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_11">What position do you play?</label>
              <select id="selectlist_11" name="selectlist_11[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Goalkeeper" selected="">Goalkeeper</option>
                <option value="Defender">Defender</option>
                <option value="Midfielder">Midfielder</option>
                <option value="Attacker">Attacker</option>
              </select>
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_3">Do you have health challenges that may impact your
                participation in the competition</label>
              <select id="selectlist_3" name="selectlist_3[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Yes">Yes</option>
                <option value="No" selected="">No</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_191539">State the health challenge</label>
              <input type="text" id="text_191539" name="text_191539" class="form-control" required=""
                style="display: none;">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_4">Do you currently play for a team?</label>
              <select id="selectlist_4" name="selectlist_4[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Yes">Yes</option>
                <option value="No" selected="">No</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_12">Enter the name of the team you are currently playing
                for</label>
              <input type="text" id="text_12" name="text_12" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Guardian Information</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_18">Surname</label>
              <input type="text" id="text_18" name="text_18" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_19">First Name</label>
              <input type="text" id="text_19" name="text_19" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_17">Relationship</label>
              <input type="text" id="text_17" name="text_17" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="text_20">Home Address</label>
              <input type="text" id="text_20" name="text_20" class="form-control" required="">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="selectlist_8">State</label>
              <select id="selectlist_8" name="selectlist_8[]" data-alias="" class="form-control">
                <option value="Lagos" selected="">Lagos</option>
              </select>
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_10">Local Govt Area</label>
              <select id="selectlist_10" name="selectlist_10[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Alimosho" selected="">Alimosho</option>
                <option value="Ajeromi-Ifelodun">Ajeromi-Ifelodun</option>
                <option value="Kosofe">Kosofe</option>
                <option value="Mushin">Mushin</option>
                <option value="Oshodi-Isolo">Oshodi-Isolo</option>
                <option value="Ojo">Ojo</option>
                <option value="Ikorodu">Ikorodu</option>
                <option value="Surulere">Surulere</option>
                <option value="Agege">Agege</option>
                <option value="Ifako-Ijaiye">Ifako-Ijaiye</option>
                <option value="Somolu">Somolu</option>
                <option value="Amuwo-Odofin">Amuwo-Odofin</option>
                <option value="Lagos Mainland">Lagos Mainland</option>
                <option value="Ikeja">Ikeja</option>
                <option value="Eti-Osa">Eti-Osa</option>
                <option value="Badagry">Badagry</option>
                <option value="Apapa">Apapa</option>
                <option value="Lagos Island">Lagos Island</option>
                <option value="Epe">Epe</option>
                <option value="Ibeju-Lekki">Ibeju-Lekki</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_22">City/Town</label>
              <input type="text" id="text_22" name="text_22" class="form-control" required="">
            </div>
          </div>

          <!-- Email -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="email_1">Guardian Email Address</label>
              <input type="email" id="email_1" name="email_1" class="form-control" required="">
            </div>
          </div>

          <!-- Number -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="number_2">Phone Number</label>
              <input type="number" id="number_2" name="number_2" class="form-control" required="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Identification</h4>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_5">Select an identification type</label>
              <select id="selectlist_5" name="selectlist_5[]" data-alias="" class="form-control  form-select"
                required="">
                <option value="Birth Certificate" selected="">Birth Certificate</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_4">Certificate Number</label>
              <input type="text" id="text_4" name="text_4" class="form-control" required="" data-unique="true">
            </div>
          </div>

          <!-- File -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="file_4">Upload valid identification (supported format are: gif, jpg,
                png, pdf, jpeg)</label>
              <input type="file" id="file_4" name="file_4[]" data-alias="" accept=".jpg, .png, .pdf, .jpeg"
                data-max-size="3200000" required="">
            </div>
          </div>


          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Participant Consent</h4>
          </div>

          <!-- Checkbox -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <div class="checkbox ">
                <input type="checkbox" name="checkbox_2[]" id="checkbox_2_0"
                  value="I agree to the Terms and Conditions of Ignite Megastars" data-alias=""
                  data-required="true"><label for="checkbox_2_0" class="checkbox-inline">
                  I agree to the <a href="https://ignitemegastars.com/ignite-soccer-stars-terms-and-condition"
                    target="_blank">Terms and Conditions</a> of Ignite Megastars </label>
              </div>
              <span id="checkbox_2"></span>

            </div>
          </div>

          <!-- Checkbox -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <div class="checkbox ">
                <input type="checkbox" name="checkbox_4[]" id="checkbox_4_0"
                  value="I confirm that I have obtained consent from my Parent(s)/ Guardian(s) to register for the Ignite megastars competition"
                  data-alias="" data-required="true"><label for="checkbox_4_0" class="checkbox-inline">
                  I confirm that I have obtained consent from my Parent(s)/ Guardian(s) to register for the Ignite
                  megastars competition </label>
              </div>
              <span id="checkbox_4"></span>

            </div>
          </div>

          <!-- Checkbox -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <div class="checkbox ">
                <input type="checkbox" name="checkbox_1[]" id="checkbox_1_0"
                  value="I hereby grant C&amp;CD Consulting Limited the permission to verify information provided above, with relevant authorities"
                  data-alias="" data-required="true"><label for="checkbox_1_0" class="checkbox-inline">
                  I hereby grant C&amp;CD Consulting Limited the permission to verify information provided above, with
                  relevant authorities </label>
              </div>
              <span id="checkbox_1"></span>

            </div>
          </div>

          <!-- reCAPTCHA -->
          <div class="form-group col-xs-12">
            <div id="recaptcha_1" class="" data-sitekey="6LdTzyAbAAAAAL1qaBnl9hIV1_Awju58RcEFeNWf" data-theme="light"
              data-type="image" data-size="normal"></div>
          </div>

          <!-- Paragraph Text -->
          <div class="col-xs-12">
            <p><strong>For more updates, follow us on our social media platforms: <a
                  href="https://www.instagram.com/ignite_megastars" target="_blank">Instagram</a>, <a
                  href="https://twitter.com/ignitemegastars" target="_blank">Twitter</a>, <a
                  href="https://facebook.com/ignitemegastars" target="_blank">Facebook</a></strong></p>
          </div>

          <!-- Button -->
          <div class="col-xs-12">
            <div class="form-action">
              <button type="submit" id="button_1" name="button_1" class="btn btn-primary" disabled>Submit
                Registration</button>
            </div>
          </div>
        </fieldset>

      </form>
    </div>
  </div>

</div>
