<div class="position-fixed w-100" style="z-index: 101;">
  <app-male-competition-nav page="about"></app-male-competition-nav>
</div>

<div class="soccer-star-spacer"></div>

<div class="page-header">
  <img src="assets/img/ignite-soccer-stars.jpg" alt="Ignite soccer stars header" class="img-fluid">
</div>
<div class="container">
  <div class="page-title">
    <h2 class="fw-bold">Ignite Soccer Stars</h2>
  </div>
  <p><strong>Ignite Soccer Stars</strong> football competition is an extension of the Ignite Megastars platform,
    designed to discover, develop, and promote
    aspiring professional footballers aged 16 to 19. This initiative provides an open opportunity for all young people
    within the specified age range—regardless of their socio-economic background—to pursue their dream of showcasing
    their
    talent to the world.</p>

  <p><strong>Ignite Soccer Stars, </strong> will provide the opportunity to both male and female athletes to showcase
    their talent and rise to stardom, by partaking
    in the Ignite competitions and undergoing assessment through a transparent system of <strong>voting by Judges,
      Coaches and fans.</strong>
    Participation in the program <strong>is completely free</strong></p>

  <h5 class="sub-title">Concept</h5>
  <ul>
  <li>Aspiring football athletes aged 16 to 19 can <a routerLink="/competition/male/register">register</a> (at no cost)
    on the Company’s website, submitting all required
    documents.
  </li>
  <li>Applications will be screened for authenticity and integrity.</li>
  <li>Candidates who pass the screening will be invited to an audition, which will include a scheduled soccer game.</li>
  <li>During the audition, players will have the opportunity to showcase their skills in front of a panel of
    professional
    coaches and scouts.
  </li>
  <li>Based on their performances, players will be given scores, from which selections will be made.</li>
  <li>Successful players from the auditions will be invited to join the Ignite Soccer Stars tournament, where they will
    receive coaching to enhance their performance.</li>
  <li>Along with the tournament, selected players will attend a seminar focused on improving their ethics,
    interpersonal,
    leadership, and communication skills.</li>
  </ul>
  <h5 class="sub-title">The Tournament</h5>
  <ul>
    <li>The tournament will begin with 6 teams. After the first round, the team with the fewest goals/points will be eliminated.</li>
    <li>Players who are underperforming, as nominated by the Judges and determined through votes from Coaches and Viewers,
    will be eliminated. Conversely, high-performing players from the losing teams will be saved.</li>
    <li>This elimination process will continue until the final round, where the winning team and individual players will be
    determined.
    </li>
    <li>Multiple prizes will be awarded to the winning team and outstanding performers, including the top three players of the
    tournament.</li>
  </ul>
</div>
