<app-male-competition-nav page="about"></app-male-competition-nav>

<!-- <div class="soccer-star-spacer"></div> -->

<div class="page-header">
  <img src="assets/img/ignite-soccer-stars.jpg" alt="Ignite soccer stars header" class="img-fluid">
</div>
<div class="container">
  <div class="page-title">
    <h2 class="fw-bold">Ignite Soccer Star</h2>
  </div>
  <p><strong>Ignite Soccer Stars</strong> football Reality TV show is an offshoot of the Ignite Megastars project that
    provides a platform to discover, develop and promote aspiring footballers, between the ages of 16 and 19. This
    concept is an open window to all interested youths within the specified age bracket – irrespective of their
    socio-economic background, to take on their dream of showcasing their talent to the world. The show aims to project
    the best soccer players in the country, every season.</p>
  <h5 class="sub-title">Concept</h5>
  <ul>
    <li>Aspiring football athletes between the ages of 15 and 18 years will <a
        routerLink="/competition/male/register">register</a> (at no cost) on the Company’s website with all required
      documents uploaded.</li>
    <li>Applications will be screened for authenticity and integrity.</li>
    <li>Successful applicants from the screening stage will be invited for an auditioning exercise consisting of two
      scheduled games of soccer where players will have the opportunity to display their talent before a team of
      assessors (Coaches and Scouts), from where scores will be given, and selections made.</li>
    <li>Successful players from the auditions will be coached to participate in the Ignite Soccer Stars tournament which
      will be broadcasted locally and internationally.</li>
    <li>Before commencing the tournament, there would be a 3-day seminar for the selected players, on ethics,
      interpersonal, leadership and communication skills.</li>
  </ul>
  <h5 class="sub-title">The Tournament</h5>
  <ul>
    <li>The Tournament will commence with 6 teams and after the first round, the team with the least goals/ points will
      be dropped.</li>
    <li>Players not in form, as nominated by the Judges and decided by votes from Coaches and Viewers will be evicted ,
      likewise players in form from the losing teams will be saved.</li>
    <li>The elimination process will continue until the end of the game where the winning team and players will emerge.
    </li>
    <li>Several prizes await the winning team and other exceptional performers including the top three players of the
      tournament.</li>
  </ul>
</div>
