<div class="page-header">
  <img src="../assets/img/contact-header.png" alt="Contact us header" class="img-fluid">
</div>


<div class="container">
  <div class="page-title">
    <h3>Contact Us</h3>
  </div>

  <div class="row no-gutter contact-info-container">
    <div class="col-6 contact-info">
      <img src="../assets/img/call-icon.png" alt="Call icon">
      <h5>Talk to Us</h5>
      <p><a href="tel:2348069912614">(234) 806 991 2614</a></p>
    </div>
    <div class="col-6 contact-info">
      <img src="../assets/img/mail-icon.png" alt="Mail icon">
      <h5>Mail Us</h5>
      <p><a href="mailto:info@ignitemegastars.ng">info@ignitemegastars.ng</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12 mt-5">
      <form [formGroup]="formDataGroup" (ngSubmit)="submitHelp(formDataGroup.value)" #fd="ngForm" [ngxFvControl]="fd">
        <fieldset class="row g-3">

          <!-- Text -->
          <div class="col-xs-6">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.firstName"
              labelName='First Name'>
              <div class="form-group required-control">
                <label class="control-label" for="text_2">First Name</label>
                <input type="text" formControlName="firstName" name="firstName" value="" data-alias=""
                  class="form-control">
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>

          <!-- Text -->
          <div class="col-xs-6">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.lastName"
              labelName='Last Name'>
              <div class="form-group required-control">
                <label class="control-label" for="text_1">Last Name</label>
                <input type="text" formControlName="lastName" name="lastName" class="form-control" required="">
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>

          <!-- Email -->
          <div class="col-xs-12">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.email"
              labelName='Email Address'>
              <div class="form-group required-control">
                <label class="control-label" for="email_1">Email Address</label>
                <input type="email" formControlName="email" name="email" class="form-control" required="">
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>

          <!-- Text -->
          <div class="col-xs-12">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.phone"
              labelName='Phone Number'>
              <div class="form-group">
                <label class="control-label" for="text_3">Phone Number</label>
                <input type="text" formControlName="phone" name="phone" class="form-control">
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>

          <!-- Categories dropdown -->
          <div class="col-xs-12">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.category"
              labelName='Category'>
              <div class="form-group required-control">
                <label class="control-label" for="select_1">Category</label>
                <select id="select_1" formControlName="category" name="category" class="form-control" required="">
                  <option value="">Select Category</option>
                  <option value="General">General</option>
                  <option value="Technical">Technical</option>
                  <option value="Complaint">Complaint</option>
                  <option value="Suggestion">Suggestion</option>
                </select>
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>

          <!-- Text Area -->
          <div class="col-xs-12">
            <ngx-fv-validate class="form-group col-12" [control]="formDataGroup.controls.message"
              labelName='Message'>
              <div class="form-group required-control">
                <label class="control-label" for="textarea_1">How can we help you?</label>
                <textarea id="textarea_1" formControlName="message" name="message" rows="6" data-alias=""
                  class="form-control" required=""></textarea>
              </div>
              <div class="text-danger pt-1">
                <ngx-fv-error></ngx-fv-error>
              </div>
            </ngx-fv-validate>
          </div>


          <!-- Button -->
          <div class="col-xs-12">
            <div class="form-action">
              <button type="submit" id="button_1" name="button_1" class="btn btn-primary"
                [disabled]="!formDataGroup.valid">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-lg-6 align-self-center d-none d-lg-block">
      <img src="../assets/img/contact.jpg" alt="Contact Image" class="w-100">
    </div>
  </div>
</div>
