<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a class="text-muted" href="https://ignitemegastars.ng/" target="_blank"><strong>Ignite Megastars</strong></a>
          &copy; <strong>2021</strong>
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="https://ignitemegastars.ng/" target="_blank">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://ignitemegastars.ng/about" target="_blank">About</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://ignitemegastars.ng/contact" target="_blank">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
