<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="../assets/img/sanwo-olu.jpg" alt="Governor Sanwo Olu"/>
			<h5 class="blog-title">Lagos state Governor Visits Venia Business Hub</h5>
			<p class="text-muted">Sports / June, 2021</p>
			<p>The Lagos state Governor, Mr.Babajide Sanwolu, visited Venia Business Hub, the home of C&CD consulting limited; promoters of Ignite Megastars, on Wednesday the 2nd  of June, 2021, as part of his tour to technology hubs in Lagos, Nigeria. Venia business hub consists of a number of start-ups and tech platforms that cover a wide range of industries. They provide some of the best platforms for new and existing businesses, start-ups and multinationals as well as corporate executives to achieve their business targets. The staff of C&CD Consulting limited where some of the delegates on hand to receive the governor at the hub.</p>
			<p>The governor’s visit was mainly to encourage start-ups and technological enterprises and to communicate the states support in ensuring their success. The Lagos state governor also stated the plans for the provision of technology infrastructure and tech space to accommodate more startups.</p>
			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
				<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5>Recent Posts</h5>
        <p class="blog-link"><a routerLink="/blog/post/post-next-top">Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</a></p>
        <p class="blog-link"><a routerLink="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a href="#">Sports</a></span>
			</div>
		</div>
	</div>


</div>
