<app-point-indicator></app-point-indicator>

<div>
  <div class="position-fixed w-100" style="z-index: 101;">
    <app-male-competition-nav page="evictions"></app-male-competition-nav>

    <div class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <div class="container-fluid">
          <a class="navbar-brand h2 mb-0 fw-bold" href="#">Players Substitutions</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 teams-item">
              <li class="nav-item touch b-rad-10" *ngFor="let team of teams">
                <a class="nav-link fw-bold" [ngClass]="{'active': (selectedTeam.snap_id === team.snap_id)}"
                  aria-current="page" (click)="fetchPlayersByTeam(team)">Team {{ team.name }}</a>
              </li>
            </ul>
            <form class="d-flex" (ngSubmit)="searchPlayer()">
              <input class="form-control me-2" name="search" type="search" [(ngModel)]="searchInput"
                placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
          </div> -->
        </div>
      </nav>
    </div>
  </div>
</div>


<!-- <div class="soccer-star-spacer"></div> -->

<!-- <div class="w-100 position-absolute coming-soon-box">
  <div class="overlay-container w-100 d-flex justify-content-center">
    <div class="align-self-center text-center">
      <h1 class="fw-bold text-white">Players Profile</h1>
      <p class="text-muted">Coming soon</p>
    </div>
  </div>
</div> -->

<div class="container-fluid px-0 px-lg-4" [style.padding-top]="'9rem'">

  <div id="c2">

    <div class="team-squad wf100 p80-50">
      <div class="container-fluid">

        <div class="row  g-md-3 text-white" *ngIf="players && players.length">
          <!--Player Box Start-->
          <div class="col-12" >
            <div class="py-2 px-3 bg-dark rounded">
              <div class="d-flex justify-content-between align-items-start">
                <div class="d-md-block">
                  <h5 class="mb-0 text-light">Position: GK</h5>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row">

                <div class="col-12 pt-3">
                  <div class="row">
                    <div class="col-12 col-md-3"  *ngFor="let player of players"  [ngClass]="player.position ===  'GK' && player.stats.eviction === 'on-going' ? '' : 'd-none'">
                      <div *ngIf="player.position ===  'GK' && player.stats.eviction === 'on-going'"
                     
                    >
                      <app-player-card [player]="player" (onSelect)="selectPlayer($event)" *ngIf="player.position ===  'GK' && player.stats.eviction === 'on-going'">
                      </app-player-card>
                    </div>
                    </div>
                  </div>
                </div>

                


              </div>
            </div>
          </div>
          <!-- defenders -->
          <div class="col-12" >
            <div class="py-2 px-3 bg-dark rounded">
              <div class="d-flex justify-content-between align-items-start">
                <div class="d-md-block">
                  <h5 class="mb-0 text-light">Position: DF</h5>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row">

                <div class="col-12 pt-3">
                  <div class="row">
                    <div class="col-12 col-md-3"  *ngFor="let player of players" [ngClass]="player.position ===  'DF' && player.stats.eviction === 'on-going' ? '' : 'd-none'">
                      <div *ngIf="player.position ===  'DF' && player.stats.eviction === 'on-going'"
                    >
                      <app-player-card [player]="player" (onSelect)="selectPlayer($event)">
                      </app-player-card>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

 <!-- midfield -->
 <div class="col-12" >
  <div class="py-2 px-3 bg-dark rounded">
    <div class="d-flex justify-content-between align-items-start">
      <div class="d-md-block">
        <h5 class="mb-0 text-light">Position: MF</h5>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row">
      <div class="col-12 pt-3">
        <div class="row">
          <div class="col-12 col-md-3"  *ngFor="let player of players" [ngClass]="player.position ===  'MF' && player.stats.eviction === 'on-going' ? '' : 'd-none'">
            <div *ngIf="player.position ===  'MF' && player.stats.eviction === 'on-going'"
          >
            <app-player-card [player]="player" (onSelect)="selectPlayer($event)">
            </app-player-card>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- forward -->
<div class="col-12" >
  <div class="py-2 px-3 bg-dark rounded">
    <div class="d-flex justify-content-between align-items-start">
      <div class="d-md-block">
        <h5 class="mb-0 text-light">Position: FW</h5>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row">

      <div class="col-12 pt-3">
        <div class="row">
          <div class="col-12 col-md-3"  *ngFor="let player of players" [ngClass]="player.position ===  'FW' && player.stats.eviction === 'on-going' ? '' : 'd-none'">
            <div *ngIf="player.position ===  'FW' && player.stats.eviction === 'on-going'"
          >
            <app-player-card [player]="player" (onSelect)="selectPlayer($event)">
            </app-player-card>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>

       

        <div class="row" *ngIf="players && !players.length">
          <div class="col-md-4 mx-auto d-flex justify-content-center" [style.height]="'350px'">
            <div class="text-center align-self-center">
              <div class="p-y mb-3">
                <img style="width: 70px;" class="img-fluid" src="assets/img/gifs/loading-buffering.gif">
              </div>
              <div class="mb-3">
                <b class="h5 fw-bold">Loading Substitutions..</b><br />
                <div>
                  Kindly wait while we load the player profiles...
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="!players">
          <div class="col-md-4 mx-auto d-flex justify-content-center" [style.height]="'350px'">
            <div class="text-center align-self-center">
              <div class="p-y mb-3">
                <img style="width: 250px;" class="img-fluid" src="assets/img/gifs/nothing-found.gif">
              </div>
              <div class="mb-3">
                <b class="h5 fw-bold">No Substitutions Found..</b><br />
                <div>
                  No Substitutions found yet...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>

<app-player-modal [player]="selected_player"></app-player-modal>
<app-vote-modal [player]="selected_player"></app-vote-modal>
