<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="../assets/img/next talent.jpg" alt="Next Top Football Talents"/>
			<h5 class="blog-title">Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</h5>
			<p class="text-muted">Sports / November, 2021</p>
      <p>The contenders have emerged from the auditions and the stage is set for the commencement of the first edition of the Ignite Megastars soccer reality TV show “Ignite Soccer Stars”.</p>
			<p>A total of ninety-six players (96) who were successful at the auditions have been placed in six teams- Pacific, Atlantic, Everest, Blanc, Baltic and Kaplan, as they get set to ignite their dreams in the coming weeks.</p>
      <p>The build-up has been intense, filled with both on-and-off field activities (see photo gallery: https://www.ignitemegastars.ng/gallery all in a bid to prepare the participants for a successful career and performance at the tournament. </p>
      <p>As a brand driven towards not just the improvement of the players’ football skillset but also their all-round development, a curriculum training event was organized in partnership with the Southcreek centre to enhance the academic, moral and character training of the players and strengthen their intellectual and moral foundation as they take the decisive next step in their chosen field of career.</p>
      <p>The over five-hour interactive session which was also aimed at improving the players public speaking ability and critical thinking, included a culinary session where the players were schooled on dining etiquettes.</p>
      <p>Weekly team trainings have continued to intensify with the coaches working on their team’s tactics and formations, as they gear up to put on a masterpiece show for the viewers, who certainly will be guaranteed value for their time and money when the flagship edition begins! To that we say,<strong>WATCHOUT!</strong>. </p>
      <p class="text-muted">For Further inquiry Call: +234 08069912614, info@ignitemegastars.ng</p>

			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
       		<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5 class="blog-link">Recent Posts</h5>
        <p class="blog-link"><a routerLink="/blog/post/post-next-top">Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</a></p>
        <p class="blog-link"><a routerLink="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a routerLink="#">Sports</a></span>
			</div>
		</div>
	</div>
