<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="sidebar-brand-text align-middle">
         <img src="assets/img/icons/logo.png" width="150" class="img-fluid">
        <!-- <sup><small class="badge bg-primary text-uppercase">Pro</small></sup> -->
      </span>
      <svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none"
        stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF"
        style="margin-left: -3px">
        <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
        <path d="M20 12L12 16L4 12"></path>
        <path d="M20 16L12 20L4 16"></path>
      </svg>
    </a>

    <div class="sidebar-user" *ngIf="usr">
      <div class="d-flex justify-content-center">
        <div class="flex-shrink-0">
          <img src="assets/img/avatars/male.jpeg" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
        </div>
        <div class="flex-grow-1 ps-2">
          <a class="sidebar-user-title dropdown-toggle text-capitalize" href="#" data-bs-toggle="dropdown">
            {{ usr.info.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-start">
            <a class="dropdown-item" routerLink="/profile">
              <i class="align-middle me-1" data-feather="user"></i> Profile
            </a>
            <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help
              Center</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger fw-bold" (click)="logUserOut()">Sign out</a>
          </div>

          <div class="sidebar-user-subtitle text-capitalize">{{ usr.info.role }}</div>
        </div>
      </div>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
      <li class="sidebar-item" [ngClass]="{'active': (page === 'dashboard')}">
        <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboards</span>
        </a>
      </li>

      <li class="sidebar-item" [ngClass]="{'active': (page === 'profile')}">
        <a class="sidebar-link" href="pages-profile.html">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item" [ngClass]="{'active': (page === 'users')}">
        <a class="sidebar-link" routerLink="/users">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
        </a>
      </li>

      <li class="sidebar-item" [ngClass]="{'active': (page === 'teams')}">
        <a data-bs-target="#teams" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Teams</span>
        </a>
        <ul id="teams" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/teams/add">Add Team</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/teams/male">Male Teams</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/teams/female">Female Teams</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/teams">All Teams</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" [ngClass]="{'active': (page === 'players')}">
        <a data-bs-target="#players" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Players</span>
        </a>
        <ul id="players" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/players/add">Add Player</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/players/male">Male Players</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/players/female">Female Players</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/players">All Players</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" [ngClass]="{'active': (page === 'voting')}">
        <a class="sidebar-link" routerLink="/votings">
          <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Voting</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
