<div class="page-header">
	<img src="../assets/img/about.jpg" alt="About us Header" class="img-fluid">

</div>

<div class="container">
	<div class="page-title">
		<h3>About Us</h3>
	</div>
	<p><strong>Ignite Megastars</strong> is a platform setup by C&CD Consulting Limited to discover, develop and promote young talents in sports, via its sports reality competitions in diverse sporting fields. </p>
	<p>Male and Female athletes will have the opportunity to showcase their talent and promote their career through a transparent system of voting from Judges, Coaches and Viewers.</p>
	<p>In addition to building the careers of these athletes, <strong>Ignite Megastars</strong> reality competition, includes a learning curriculum in ethics, communication and interpersonal skills for participants.</p>
	<p><strong>Ignite Megastars</strong> would commence with the football reality competition <strong>"Ignite Soccer Stars".</strong> The male edition will be the first of the reality competition series promoted by the Company.</p>

	<h5 class="sub-title">Vision</h5>
	<p>Touching lives through sports talent recognition and development and promoting athletes to become Megastars.</p>

	<h5 class="sub-title">Mission</h5>
	<p>Providing a platform for grass root sports talent recognition and development and to produce a large pool of world class athletes in the country.</p>

	<h5 class="sub-title pb-3">Unique Value Proposition</h5>
	<ul class="list-unstyled">
		<li>
			<strong><i class="fas fa-poll-h"> </i> Voting Model</strong>
			<p>The Ignite megastars show is poised to become the top sports reality tv show in the country. The show employs a unique voting model which involves the general public in the selection of the next sports stars in the country. Adopting such a model also ensures Ignite Megastars long-term sustainability.</p>
		</li>
		<li>
			<strong><i class="fas fa-diagnoses"> </i> Coaching Academy</strong>
			<p>In addition to the competitions, top performing athletes will be introduced to the “Ignite Coaching Academy” which will help them nurture their skills both as athletes and individuals. Ignite will provide opportunities for these youths to participate in various competitions locally and internationally, as well as provide mentorship.</p>
		</li>
		<li>
			<strong><i class="fas fa-running"> </i> Youth Development</strong>
			<p>The Sole objective of the Ignite Megastars Show is the drive to discover and develop youth talent in Nigeria. The show gives youth of all backgrounds an opportunity to make a potential living from sports, while learning key life and personal development skills.</p>
		</li>
		<li>
			<strong><i class="fas fa-key"> </i> Access</strong>
			<p>Ignite gives prospective youth athletes who are interested in a career in sports an outlet to showcase their talents. The methods used by the show provides both local and international recognition. The Company is able to provide this access through partnerships with the Lagos state Football Association and a host of other partners both locally and internationally.</p>
		</li>
	</ul>
</div>
