<div class="page-header">
  <img src="../assets/img/about.jpg" alt="About us Header" class="img-fluid">

</div>

<div class="container">
  <div class="page-title">
    <h3>About Us</h3>
  </div>
  <p><strong>Ignite Megastars,</strong> established by C&CD Consulting Limited, is a platform dedicated to discovering,
    nurturing, and promoting grassroot
    talents across various sports. </p>
  <p>Designed as a rigorous evaluation platform, through <strong>competitions, Ignite Megastars</strong> is committed to
    maintaining integrity
    and transparency in sports talent identification and selection for youths between ages 16 to 19, allowing top
    talents to
    be discovered.</p>
  <p>Beginning with football- <strong>Ignite Soccer Stars,</strong> will provide the opportunity to both male and female
    athletes to showcase
    their talent and rise to stardom, by partaking in the Ignite competitions and undergoing assessment through a
    transparent system of <strong>voting by Judges, Coaches and fans.</strong> Participation is <strong>completely
      free</strong></p>
  <p>With our platform, coaches and football fans can assess players performance by voting for them based on their
    performance in the competitions. Winners will be rewarded with <strong>scholarships to both local and international
      academies.</strong></p>
  <p>In addition to building the technical skills of these athletes, the program includes learning curriculums in
    ethics,
    communication and interpersonal skills for participants.</p>
  <p>Ignite Megastars is the first platform of its kind, incorporating the <strong> Ignite Management and Mentoring
      Academy (IMMA),</strong>
    which supports all tournament participants throughout their career journey to help them build a rewarding future.
  </p>
  <p>This innovative project has received endorsements from the Lagos State Football Association (LSFA).</p>
  <!-- <p>In addition to building the careers of these athletes, <strong>Ignite Megastars</strong> reality TV show, includes a learning curriculum in ethics, communication and interpersonal skills for participants.</p>
	<p><strong>Ignite Megastars</strong> would commence with the football reality TV show <strong>“Ignite Soccer Stars”</strong>. The male edition will be the first of the reality TV show series promoted by the Company.</p> -->

  <h5 class="sub-title">Vision</h5>
  <p>Changing lives by discovering and promoting sports talent.</p>

  <h5 class="sub-title">Mission</h5>
  <p>Creating a platform for recognizing and developing grassroots sports talent, with the goal of cultivating a vast
    pool of
    world-class athletes in the country.</p>

  <h5 class="sub-title pb-3">Unique Value Proposition</h5>
  <ul class="list-unstyled">
    <li>
      <strong><i class="fas fa-key"> </i> Access</strong>
      <p>Ignite Megastars offers young athletes aspiring to pursue professional sports, a structured platform for their
        talent to
        be recognized and developed. The program also includes players learning curriculums in ethics, communication and
        interpersonal skills. Winners will be rewarded with scholarships to both local and international academies.</p>
    </li>
    <li>
      <strong><i class="fas fa-poll-h"> </i> Voting Model</strong>
      <p>The platform provides an opportunity to both male and female athletes to showcase their talent, by partaking in
        the
        Ignite competitions and undergoing assessment through a transparent system of voting by Judges, Coaches and
        fans.</p>
      <p>The Ignite Megastars competition is poised to become the nation's premier sports talent discovery program. With
        its
        innovative voting system, the public plays an active role in choosing the next generation of sports stars. This
        model
        fosters strong audience engagement and the long-term sustainability of Ignite Megastars.</p>
    </li>
    <li>
      <strong><i class="fas fa-running"> </i> Youth Development</strong>
      <p>Alongside the competitions, top-performing athletes will be introduced to the "Mentoring Academy," an initiative where
      they will receive guidance to develop both their professional career and personal growth.</p>
      <p>The Ignite Management and Mentoring Academy (IMMA), also supports all participants in the competition through their
      career journey to help them build a rewarding future.</p>
    </li>
    <li>
      <strong><i class="fas fa-diagnoses"> </i> Coaching Academy</strong>
      <p>In addition to the competitions, top performing athletes will be introduced to the “Ignite Coaching Academy”
        which will help them nurture their skills both as athletes and individuals. Ignite will provide opportunities
        for these youths to participate in various competitions locally and internationally, as well as provide
        mentorship.</p>
    </li>
  </ul>
</div>
