<section class="wrapper">

  <app-sidebar page="teams"></app-sidebar>

  <div class="main">
    <app-header></app-header>

    <main class="content">
      <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Add Team</h1>

        <div class="row">

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Team Form</h5>
                <h6 class="card-subtitle text-muted">Add a new team information.</h6>
              </div>
              <div class="card-body">
                <div>
                  <form [formGroup]="formDataGroup" (ngSubmit)="addTeam(formDataGroup.value)" #fd="ngForm"
                    [ngxFvControl]="fd">

                    <div class="row g-3 mb-3">

                      <div class="col-md-7">
                        <ngx-fv-validate [control]="formDataGroup.controls.name" labelName='Team Name'>
                          <label class="form-label">Team Name</label>
                          <input class="form-control text-capitalize" placeholder="Eg: Eagles Court"
                            formControlName="name" #ngxFvFormControl>
                          <!-- display form errors -->
                          <div class="text-danger pt-1">
                            <ngx-fv-error></ngx-fv-error>
                          </div>
                        </ngx-fv-validate>
                      </div>

                      <div class="col-md-5">
                        <ngx-fv-validate [control]="formDataGroup.controls.gender" labelName='Gender Category'>
                          <label class="form-label">Gender Category</label>
                          <select class="form-control form-select" formControlName="gender" #ngxFvFormControl>
                            <option value="" selected disabled>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                          <!-- display form errors -->
                          <div class="text-danger pt-1">
                            <ngx-fv-error></ngx-fv-error>
                          </div>
                        </ngx-fv-validate>
                      </div>

                      <div class="col-md-5">
                        <ngx-fv-validate [control]="formDataGroup.controls.year" labelName='Play Year'>
                          <label class="form-label">Play Year</label>
                          <input type="number" class="form-control" min="1900" max="2099" step="1"
                            placeholder="Eg: 2021" formControlName="year" #ngxFvFormControl>
                          <!-- display form errors -->
                          <div class="text-danger pt-1">
                            <ngx-fv-error></ngx-fv-error>
                          </div>
                        </ngx-fv-validate>
                      </div>

                    </div>

                    <div>
                      <button type="submit" [disabled]="!formDataGroup.valid" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </main>

    <app-footer></app-footer>

  </div>
</section>
