
<div class="page-header">
	<img src="../assets/img/contact-header.png" alt="Contact us header" class="img-fluid">
</div>

<div class="container">
	<div class="page-title">
		<h2>Contact Us</h2>
	</div>

	<div class="row no-gutter contact-info-container">
		<div class="col-6 contact-info">
			<img src="../assets/img/call-icon.png" alt="Call icon">
			<h5>Talk to Us</h5>
			<p><a href="tel:2348069912614">(234) 806 991 2614</a></p>
		</div>
		<div class="col-6 contact-info">
			<img src="../assets/img/mail-icon.png" alt="Mail icon">
			<h5>Mail Us</h5>
			<p><a href="mailto:info@ignitemegastars.ng">info@ignitemegastars.ng</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-12 mt-5">
			<div id="c5"></div>
		</div>

		<div class="col-lg-6 align-self-center d-none d-lg-block">
			<img src="../assets/img/contact.jpg" alt="Contact Image" class="w-100">
		</div>
	</div>
</div>
