<div>
  <div class="position-fixed w-100">
    <nav class="ignite-soccer-stars-nav-wrapper position-relative">
      <div class="container-lg">
        <ul class="ignite-soccer-stars-nav text-white">
          <li><a routerLink="/coaches/register" class="text-white ignite-soccer-stars-nav-active">Coaches Register</a>
          </li>
          <li><a routerLink="/coaches/voting" class="text-white touch ">
              Coaches Voting</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container pt-4">
    <div class="pt-5 pb-4">
      <h2>Apply!</h2>
    </div>

    <div id="c3">
      <form action="">
        <div class="row g-3">

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Role</h4>
          </div>

          <!-- Select List -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_917827">Role being applied for</label>
              <select id="selectlist_917827" name="selectlist_917827[]" data-alias="" class="form-control form-select"
                required="">
                <option value="Coach" selected="">Coach</option>
                <option value="Agent">Agent</option>
                <option value="Scout">Scout</option>
              </select>
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Name &amp; Contact Information</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_2">Surname</label>
              <input type="text" id="text_2" name="text_2" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_3">First Name</label>
              <input type="text" id="text_3" name="text_3" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="text_1">Other Names</label>
              <input type="text" id="text_1" name="text_1" class="form-control">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_5">State of Origin</label>
              <input type="text" id="text_5" name="text_5" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_15">Phone Number</label>
              <input type="text" id="text_15" name="text_15" class="form-control" required="">
            </div>
          </div>

          <!-- Email -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="email_1">Email Address</label>
              <input type="email" id="email_1" name="email_1" class="form-control" required="">
            </div>
          </div>

          <!-- Date -->
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required-control">
              <label class="control-label" for="date_1">Date of Birth</label>
              <input type="date" id="date_1" name="date_1" class="form-control" required="">
            </div>
          </div>

          <!-- Number -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="number_1">Age</label>
              <input type="number" id="number_1" name="number_1" class="form-control" readonly="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Residential Information</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="text_7">Home Address</label>
              <input type="text" id="text_7" name="text_7" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_9">Local Govt Area</label>
              <input type="text" id="text_9" name="text_9" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_8">City/Town</label>
              <input type="text" id="text_8" name="text_8" class="form-control" required="">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_2">State</label>
              <select id="selectlist_2" name="selectlist_2[]" data-alias="" class="form-control form-select"
                required="">
                <option value="Lagos" selected="">Lagos</option>
              </select>
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Next of Kin</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_358898">Name</label>
              <input type="text" id="text_358898" name="text_358898" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_14">Relationship</label>
              <input type="text" id="text_14" name="text_14" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_4">Phone Number</label>
              <input type="text" id="text_4" name="text_4" class="form-control" required="">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Document Upload</h4>
          </div>

          <!-- Select List -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_5">Select an identification type</label>
              <select id="selectlist_5" name="selectlist_5[]" data-alias="" class="form-control form-select"
                required="">
                <option value="International Passport" selected="">International Passport</option>
                <option value="National ID">National ID</option>
              </select>
            </div>
          </div>

          <!-- File -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="file_1">Upload valid identification</label>
              <input type="file" id="file_1" name="file_1[]" data-alias="" accept=".jpg, .png, .pdf, jpeg"
                data-max-size="3200000" required="">
            </div>
          </div>


          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- File -->
          <div class="col-xs-12">
            <div class="form-group required-control">
              <label class="control-label" for="file_2">Upload CV (Showing Education and qualification, Coaching
                qualifications and License)</label>
              <input type="file" id="file_2" name="file_2[]" data-alias="" accept=".doc, .docx, .pdf"
                data-max-size="3200000" required="">
            </div>
          </div>


          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Payment</h4>
          </div>

          <!-- Text -->
          <div class="col-xs-12">
            <div class="form-group">
              <label class="control-label" for="text_20">What is your salary expectation</label>
              <input type="text" id="text_20" name="text_20" class="form-control">
            </div>
          </div>

          <!-- Spacer -->
          <div class="col-xs-12">
            <div style="height: 10px"></div>
          </div>

          <!-- Heading -->
          <div class="col-xs-12">
            <h4 class="legend">Activities &amp; Interest</h4>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_4">Do you currently coach a team?</label>
              <select id="selectlist_4" name="selectlist_4[]" data-alias="" class="form-control form-select"
                required="">
                <option value="Yes">Yes</option>
                <option value="No" selected="">No</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_13">Enter the name of the team you currently coach</label>
              <input type="text" id="text_13" name="text_13" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_12">Biggest achievement of the team</label>
              <input type="text" id="text_12" name="text_12" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_694718">Years of general experience</label>
              <input type="text" id="text_694718" name="text_694718" class="form-control" required="">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="text_510340">Years of experience coaching teams</label>
              <input type="text" id="text_510340" name="text_510340" class="form-control" required="">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control">
              <label class="control-label" for="selectlist_513999">Are you a licensed coach?</label>
              <select id="selectlist_513999" name="selectlist_513999[]" data-alias="" class="form-control form-select"
                required="">
                <option value="No" selected="">No</option>
                <option value="Yes">Yes</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_16">Years of experience as an agent?</label>
              <input type="text" id="text_16" name="text_16" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="selectlist_7">Have you worked directly with any club as an
                agent?</label>
              <select id="selectlist_7" name="selectlist_7[]" data-alias="" class="form-control form-select" required=""
                style="display: none;">
                <option value="Yes">Yes</option>
                <option value="No" selected="">No</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_589512">List the club(s)</label>
              <input type="text" id="text_589512" name="text_589512" class="form-control" required=""
                style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_19">How many football talents have you identified for them?</label>
              <input type="text" id="text_19" name="text_19" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-8">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_21">How were they identified?</label>
              <input type="text" id="text_21" name="text_21" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_22">Years of experience as a scout?</label>
              <input type="text" id="text_22" name="text_22" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Select List -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="selectlist_6">Have you worked directly with any club as a scout?</label>
              <select id="selectlist_6" name="selectlist_6[]" data-alias="" class="form-control form-select" required=""
                style="display: none;">
                <option value="Yes">Yes</option>
                <option value="No" selected="">No</option>
              </select>
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_23">List the club(s)</label>
              <input type="text" id="text_23" name="text_23" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-4">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_24">How many football talents have you identified for them?</label>
              <input type="text" id="text_24" name="text_24" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- Text -->
          <div class="col-xs-12 col-sm-8">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="text_18">How were they identified?</label>
              <input type="text" id="text_18" name="text_18" class="form-control" required="" style="display: none;">
            </div>
          </div>

          <!-- File -->
          <div class="col-xs-12">
            <div class="form-group required-control" style="display: none;">
              <label class="control-label" for="file_3">Upload license</label>
              <input type="file" id="file_3" name="file_3[]" data-alias="" accept=".jpg, .png, .pdf"
                data-max-size="3200000" required="" style="display: none;">
            </div>
          </div>


          <!-- Checkbox -->
          <div class="col-xs-12">
            <div class="form-group">
              <div class="checkbox ">
                <input type="checkbox" name="checkbox_1[]" id="checkbox_1_0"
                  value="I agree to the Terms and Conditions of Ignite Megastars" data-alias=""><label
                  for="checkbox_1_0" class="checkbox-inline">&nbsp;
                  I agree to the <a href="https://ignitemegastars.com/coaches-terms-and-condition" target="_blank">Terms
                    and Conditions</a> of Ignite Megastars </label>
              </div>
              <span id="checkbox_1"></span>

            </div>
          </div>

          <!-- reCAPTCHA -->
          <div class="form-group col-xs-12">
            <div id="recaptcha_1" class="" data-sitekey="6LdTzyAbAAAAAL1qaBnl9hIV1_Awju58RcEFeNWf" data-theme="light"
              data-type="image" data-size="normal"></div>
          </div>

          <!-- Button -->
          <div class="col-xs-12">
            <div class="form-action">
              <button type="submit" id="button_1" name="button_1" class="btn btn-primary" disabled="">Submit
                Registration</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script>
      (function (d, t) {
        var s = d.createElement(t), options = {
          'id': 'TMGmFw',
          'container': 'c3',
          'height': '1320px',
          'form': '//dashboard.ignitemegastars.com/app/embed'
        };
        s.type = 'text/javascript';
        s.src = '//dashboard.ignitemegastars.com/static_files/js/form.widget.js';
        s.onload = s.onreadystatechange = function () {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { (new EasyForms()).initialize(options).display() } catch (e) { }
        };
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
    </script>
  </div>
