<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="/assets/img/ignite-lsfa.png" alt="Lagos State Football Association Endorsement"/>
			<h5 class="blog-title">Lagos State Football Association Endorses Ignite MegaStars</h5>
			<p class="text-muted">Sports / May, 2021</p>
			<p>The Ignite Megastars football talent hunt reality TV show- “Ignite Soccer Stars”, has been endorsed by the Lagos state Football Association (LSFA). The Technical Chairman of the LSFA Dr. Dotun Coker, and the Secretary of the Association, Mr. Rabiu Okiki-Opusu received the Ignite Megastars team led by the Managing Director of C&CD Consulting Limited and lead promoter of the talent hunt show, Ozavize Daniyan, at the office of the LSFA. The Ignite Megastars team made a presentation of the planned Reality TV show which includes a Football tournament, to the representatives of the LSFA. </p>
			<p>The Ignite team informed LSFA that the competition aims to discover and promote young and exceptional football talents in Lagos state in its first season (2021) and will move to cover other locations in Nigeria in the coming seasons. The Ignite team will partner with FIFA licensed Coaches and other football officials as well a state-of-the-art production Company to achieve this. The show promises to be a spectacle in Lagos state.</p>
			<p>The LSFA lauded the idea and uniqueness of the concept and promised their support to the Ignite team in all areas of the show and tournament.</p>

			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
				<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5>Recent Posts</h5>
        <p class="blog-link"><a href="/blog/post/next-top"></a>Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</p>
        <p class="blog-link"><a href="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a href="#">Sports</a></span>
			</div>
		</div>
	</div>


</div>
