<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="../assets/img/radiance-fc-featured.jpg" alt="Ignite team visitation to Radiance Football Club"/>
			<h5 class="blog-title">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos</h5>
			<p class="text-muted">Sportsy / October, 2021</p>
			<p>During the auditions, the players were assessed by independent coaches based on their individual strengths as footballers and ability to contribute to the overall success of the 30minutes games. </p>
			<p>Over 250 players attended the auditions which took place between October 1st and 3rd at the Legacy Pitch, Surulere. A hundred top players from the auditions have been selected to take part in this year’s reality TV show. Judges, coaches and viewers will have the opportunity to select and vote for their choice players, thereby having an opportunity to contribute to the growth of football talents in Nigeria.</p>
      <p>In addition to the football tournament, participating in the Ignite Soccer Stars Reality TV show will present players with the opportunity to register with the Ignite mentoring academy, where they will be mentored and supported through their career journeys. This program is endorsed by the Lagos State Football Association (LSFA) and Legacy Sports (official Laliga commercial Agents in Nigeria).</p>
      <p>Individual players will have the opportunity to be scouted Internationally and Locally. Various cash prizes are also lined up for outstanding performances.</p>
      <p>Surely you haven’t seen anything like this yet. <em>Watch out!</em> this November for the final battle for glory by 100 players who are ready to Ignite their dreams.</p>
      <p class="text-muted">For Further inquiry Call: +234 08069912614, info@ignitemegastars.ng</p>

			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
				<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5>Recent Posts</h5>
        <p><a routerLink="/blog/post/lagos-endorse">Lagos State Football Association Endorses Ignite Megastars</a></p>
				<p><a routerLink="/blog/post/ignite-team">Ignite Megastars team visits Radiance football club</a></p>
				<p><a routerLink="/blog/post/govornor-visits">Lagos state Governor Visits Venia Business Hub</a></p>
        <p><a routerLink="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a routerLink="#">Sports</a></span>
			</div>
		</div>
	</div>
