<!-- Slider -->
<div class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover" data-bs-interval="2000" id="slider">
	<div class="carousel-inner">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#slider" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#slider" data-bs-slide-to="2"></button>
			<button type="button" data-bs-target="#slider" data-bs-slide-to="3"></button>
			<button type="button" data-bs-target="#slider" data-bs-slide-to="4"></button>
			<button type="button" data-bs-target="#slider" data-bs-slide-to="5"></button>
		</div>
		<div class="carousel-item active w-100">
			<img src="../assets/img/slide-4.jpg" class="img-fluid" alt="First Slide">
		</div>
		<div class="carousel-item w-100">
			<div class="slide-news animate__animated animate__fadeInLeft animate__delay-1s">
			  <div class="news-content">
		    	<h3>Soccer reality show coming soon</h3>
		    	<!-- <a href="/ignite-soccer-stars-male/register" class="btn btn-default" role="button">Apply Here</a> -->
		  	</div>
			</div>
			<img src="../assets/img/slide-3.jpg" class="img-fluid" alt="Second Slide">
		</div>
		<div class="carousel-item w-100">
      <div class="slide-news animate__animated animate__fadeInRight animate__delay-1s">
			  <div class="news-content">
		    	<h3>Photos from events so far</h3>
		    	<a href="/gallery" class="btn btn-default" role="button">View Here</a>
		  	</div>
			</div>
			<img src="../assets/img/slide-7.jpg" class="img-fluid" alt="Third Slide">
		</div>
		<div class="carousel-item w-100">
			<img src="../assets/img/slide-2.jpg" class="img-fluid" alt="Fourth Slide">
		</div>
		<div class="carousel-item w-100">
			<img src="../assets/img/slide-6.jpg" class="img-fluid" alt="Fifth Slide">
		</div>
		<div class="carousel-item w-100">
			<img src="../assets/img/slide-8.jpg" class="img-fluid" alt="sixth Slide">
		</div>
		<a class="carousel-control-prev" role="button" data-bs-slide="prev" href="#slider">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" role="button" data-bs-slide="next" href="#slider">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<!-- Video and Image Gallery -->
<div class="home-gallery-container">
	<div class="container pt-4 pb-5">
		<!-- Home Video Gallery-->
		<div class="row home-clip-section-wrapper">
			<div class="col-lg-4 home-about align-middle divider pb-5">
				<div class="page-title">
					<h3 class="fw-bold">Ignite Megastars&trade;</h3>
				</div>
				<p class="text-justify">Ignite Megastars is a platform setup by C&CD Consulting Limited to discover,
					develop and promote young talents in sports, via its reality television show series in diverse
					sporting fields.
				<p class="text-justify">Male and Female athletes within the ages of 15 and 18 will have the opportunity
					to showcase their talent and rise to stardom through a transparent system of voting from Judges,
					Coaches and Viewers.</p>

				<a routerLink="about" class="btn btn-default pl-3 pr-3 pt-2 pb-2 mt-3" role="button">More About Us</a>
			</div>
			<div class="col-lg-8 pb-md-5">
				<div class="home-clips">
					<div class="home-clips-container">
						<div class="row g-3">
							<div class="col-md-6">
								<video class="clip w-100" controls poster="../assets/img/ignite-clips-thumb.jpg">
									<source src="../assets/videos/video-1.mp4" type="video/mp4">
								</video>
							</div>
							<div class="col-md-6">
								<video class="clip w-100" controls poster="../assets/img/main-match-thumb.jpg">
									<source src="../assets/videos/Main%20Match.mp4" type="video/mp4">
								</video>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">

				</div>
				<div class="pt-5 mt-5">
					<p class="text-end">
						<a href="/gallery">
							More Exclusive Videos <span class="fas fa-arrow-right pl-2" aria-hidden="true"></span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<!-- Home Picture Gallery-->
		<div class="row pt-5 pb-3 align-items">
			<div class="col-md">
				<h3 class="text-bold title-white"><span
						class="fas fa-grip-lines-vertical header-icon font-weight-bold h3"></span> PHOTO GALLERY</h3>
			</div>
		</div>
		<div class="home-gallery">
			<div class="home-gallery-img">
				<a href="../assets/img/img-24.jpg">
					<img src="../assets/img/img-24.jpg" alt="Gallery Image 1" />
				</a>
			</div>
			<div class="home-gallery-img">
				<a href="../assets/img/img-22.jpg">
					<img src="../assets/img/img-22.jpg" alt="Gallery Image 2" />
				</a>
			</div>
			<div class="home-gallery-img">
				<a href="../assets/img/img-19.jpg">
					<img src="../assets/img/img-19.jpg" alt="Gallery Image 3" />
				</a>
			</div>
			<div class="home-gallery-img">
				<a href="../assets/img/img-18.jpg">
					<img src="../assets/img/img-18.jpg" alt="Gallery Image 4" />
				</a>
			</div>
			<div class="home-gallery-img d-none d-md-block">
				<a href="../assets/img/img-23.jpg">
					<img src="../assets/img/img-23.jpg" alt="Gallery Image 5" />
				</a>
			</div>
			<div class="home-gallery-img d-none d-md-block">
				<a href="../assets/img/img-9.jpg">
					<img src="../assets/img/img-9.jpg" alt="Gallery Image 6" />
				</a>
			</div>
			<div class="home-gallery-img d-none d-md-block">
				<a href="../assets/img/img-20.jpg">
					<img src="../assets/img/img-20.jpg" alt="Gallery Image 7" />
				</a>
			</div>
			<div class="home-gallery-img d-none d-md-block">
				<a href="../assets/img/img-8.jpg">
					<img src="../assets/img/img-8.jpg" alt="Gallery Image 8" />
				</a>
			</div>
		</div>

		<div class="col-md d-none d-md-block pt-4">
			<p class="text-end"><a routerLink="gallery">More Exclusive Photos <span
						class="fas fa-arrow-right pl-2"></span></a></p>
		</div>

		<p class="text-center d-xs-block d-md-none"><a routerLink="gallery">More Exclusive Photos <span
					class="fas fa-arrow-right pl-2"></span></a></p>
	</div>
</div>

<!-- What's Hot-->
<section>
	<div class="container">
		<div class="row pt-5 pb-3">
			<div class="col-md">
				<h3 class="text-bold"><span class="fas fa-grip-lines-vertical header-icon font-weight-bol h3"></span>
					WHAT'S HOT</h3>
			</div>
			<div class="col-md d-none d-md-block">
				<p class="text-end"><a href="/whats-hot">View More <span class="fas fa-arrow-right pl-2"></span></a></p>
			</div>
		</div>
		<div class="row">
      <div class="col-md-4 mini-blog">
				<a href="/blog/post/post-next-top">
					<img src="../assets/img/next talent.jpg" alt="Next Top Talent" />
					<h5 class="home-blog-title">Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</h5>
				</a>
			</div>
      <div class="col-md-4 mini-blog">
				<a routerLink="/blog/post/first-of-its-kind">
					<img src="../assets/img/talent.jpg" alt="Governor Sanwo Olu" />
					<h5 class="home-blog-title">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in
            Lagos</h5>
				</a>
			</div>
			<div class="col-md-4 mini-blog">
				<a routerLink="/blog/post/lagos-endorse">
					<img src="../assets/img/ignite-lsfa.png" alt="Lagos State Football Association Endorsement" />
					<h5 class="home-blog-title">Lagos State Football Association endorses Ignite Megastars</h5>
				</a>
			</div>
		</div>

		<div class="d-block d-md-none">
			<p class="text-center d-block d-md-none"><a href="/whats-hot">View More <span
						class="fas fa-arrow-right pl-2"></span></a></p>
		</div>
	</div>
</section>
