<div class="container single-blog">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-fluid" src="../assets/img/talent.jpg" alt="Ignite team visitation to Radiance Football Club"/>
			<h5 class="blog-title">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos</h5>
			<p class="text-muted">Sports / October, 2021</p>
      <p>The Ignite Soccer stars football Reality TV show has set sail. Free registration for the event was open to football talents in Lagos state, between the ages of 15- 18 years. Independent experienced football coaches were also recruited to help with the assessment, selection and training of top talents for the show.</p>
			<p>The first phase of the tournament, which is the players' audition took place between 1st and 3rd October 2021. Over 250 players attended the auditions at the Legacy Pitch, Surulere. During the auditions, the players were assessed by independent coaches based on their individual strengths as footballers and ability to contribute to the overall success of the 30minutes games. A hundred top players from the auditions have been selected to take part in this year’s reality TV show. Judges, coaches and viewers will have the chance to select and vote for their choice players, providing them with the opportunity to contribute to the growth of football talents in Nigeria.</p>
      <p>In addition to the football tournament, participating in the Ignite Soccer Stars Reality TV show will present players with the opportunity to register with the Ignite mentoring academy, where they will be mentored and supported through their career journeys. This program is endorsed by the Lagos State Football Association (LSFA) and Legacy Sports (official Laliga commercial Agents in Nigeria).</p>
      <p>Individual players will have the opportunity to be scouted Internationally and Locally. Various cash prizes are also lined up for outstanding performances.</p>
      <p>Surely you haven’t seen anything like this yet. <strong>Watch out!</strong> this November for the final battle for glory by 100 players who are ready to Ignite their dreams.</p>
      <p class="text-muted">For Further inquiry Call: +234 08069912614, info@ignitemegastars.ng</p>

			<div class="pt-3 pt-md-4">
				<strong>Share this post</strong>
				<div class="sharethis-inline-share-buttons"></div>
			</div>

		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="shadow blog-sidebar">
				<h5 class="blog-link">Recent Posts</h5>
        <p class="blog-link"><a routerLink="/blog/post/post-next-top">Next Top Football Talents To Be Discovered At The "Ignite Soccer Stars" Reality TV Show</a></p>
        <p class="blog-link"><a routerLink="/blog/post/first-of-its-kind">IGNITE SOCCER STARS: First of its kind Football Reality TV show set to take off in Lagos.</a></p>

				<h5>Categories</h5>
				<span><a routerLink="#">Sports</a></span>
			</div>
		</div>
	</div>
