<nav class="ignite-soccer-stars-nav-wrapper">
  <div class="container">
    <ul class="ignite-soccer-stars-nav text-white">
      <li><a routerLink="/competition/male" class="text-white ">About</a></li>
      <li><a routerLink="/competition/male/register" class="text-white touch">Register</a></li>
      <li><a routerLink="/competition/male/fixtures"
          class="text-white touch touch">Fixtures/Results</a></li>
      <li><a routerLink="/competition/male/highlights" class="text-white touch">Highlights</a></li>
      <li><a routerLink="/competition/male/players" class="text-white touch ignite-soccer-stars-nav-active ">Players
          Profile</a></li>
    </ul>
  </div>
</nav>
<!-- <div class="soccer-star-spacer"></div> -->

<div class="container">
  <div class="pt-5 pb-4">
    <h1 class="fw-bold">Players Profile</h1>
  </div>

  <div id="c2">
    <div class="team-squad wf100 p80-50">
      <div class="container">
        <div class="row text-white">
          <!--Player Box Start-->
          <div class="col-md-6">
            <div class="player-box rounded rounded-lg text-white">
              <div class="player-thumb"><img src="http://gramotech.net/html/tigers/images/player1.png" alt=""></div>
              <div class="player-txt"> <span class="star-tag"><i class="fas fa-star"></i></span>
                <h3 class="fw-bold text-light">Geryson Ramsy</h3>
                <strong class="player-desi">League Captain</strong>
                <!-- <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p> -->
                <ul>
                  <li>29 <span>Age</span></li>
                  <li>87 <span>matches</span></li>
                  <li>113 <span>Goals</span></li>
                  <li>87 <span>matches</span></li>
                </ul>
                <div class="">
                  <button class="btn btn-primary">View Player</button>&nbsp;
                  <button class="btn btn-success">Vote</button>
                </div>
              </div>
            </div>
          </div>
          <!--Player Box End-->
          <!--Player Box Start-->
          <div class="col-md-6">
            <div class="player-box rounded rounded-lg text-white">
              <div class="player-thumb"><img src="http://gramotech.net/html/tigers/images/player1.png" alt=""></div>
              <div class="player-txt"> <span class="star-tag"><i class="fas fa-star"></i></span>
                <h3 class="fw-bold text-light">Jaun Carry</h3>
                <strong class="player-desi">Goal Keeper</strong>
                <!-- <p> Hi, I am Jaun Carry the team captain of the soccer club.</p> -->
                <ul>
                  <li>29 <span>Age</span></li>
                  <li>87 <span>matches</span></li>
                  <li>113 <span>Goals</span></li>
                  <li>87 <span>matches</span></li>
                </ul>
                <div class="">
                  <button class="btn btn-primary">View Player</button>&nbsp;
                  <button class="btn btn-success">Vote</button>
                </div>
              </div>
            </div>
          </div>
          <!--Player Box End-->
          <!--Player Box Start-->
          <div class="col-md-6">
            <div class="player-box rounded rounded-lg text-white">
              <div class="player-thumb"><img src="http://gramotech.net/html/tigers/images/player1.png" alt=""></div>
              <div class="player-txt"> <span class="star-tag"><i class="fas fa-star"></i></span>
                <h3 class="fw-bold text-light">Jaun Carry</h3>
                <strong class="player-desi">Goal Keeper</strong>
                <!-- <p> Hi, I am Jaun Carry the team captain of the soccer club.</p> -->
                <ul>
                  <li>29 <span>Age</span></li>
                  <li>87 <span>matches</span></li>
                  <li>113 <span>Goals</span></li>
                  <li>87 <span>matches</span></li>
                </ul>
                <div class="">
                  <button class="btn btn-primary">View Player</button>&nbsp;
                  <button class="btn btn-success">Vote</button>
                </div>
              </div>
            </div>
          </div>
          <!--Player Box End-->
          <!--Player Box Start-->
          <div class="col-md-6">
            <div class="player-box rounded rounded-lg text-white">
              <div class="player-thumb"><img src="http://gramotech.net/html/tigers/images/player1.png" alt=""></div>
              <div class="player-txt"> <span class="star-tag"><i class="fas fa-star"></i></span>
                <h3 class="fw-bold text-light">Geryson Ramsy</h3>
                <strong class="player-desi">League Captain</strong>
                <!-- <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p> -->
                <ul>
                  <li>29 <span>Age</span></li>
                  <li>87 <span>matches</span></li>
                  <li>113 <span>Goals</span></li>
                  <li>87 <span>matches</span></li>
                </ul>
                <div class="">
                  <button class="btn btn-primary">View Player</button>&nbsp;
                  <button class="btn btn-success">Vote</button>
                </div>
              </div>
            </div>
          </div>
          <!--Player Box End-->
        </div>
      </div>
    </div>
  </div>
</div>
